.cerealDisplay {
    display: flex;
    justify-content: space-between;

    border: black solid 1px;
    padding: 2rem;
}

.name {
    font-weight: bold;
}

.info
{
    color: gray;
}

.responsiveImage {
    max-width: 100%;  /* Maximum width of the image */
    max-height: 200px; /* Maximum height of the image */
    width: auto;       /* Adjust width to maintain aspect ratio */
    height: auto;      /* Adjust height to maintain aspect ratio */
    object-fit: contain; /* Ensures the image scales without cropping */
}